name: Pull Request

env:
  DOTNET_VERSION: "10.0.x"

on:
  pull_request:
    types: [opened, edited, synchronize, reopened]
    branches:
      - "**"
    paths:
      - "Source/**"
      - ".github/workflows/**"

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    outputs:
      version: ${{ steps.release.outputs.version }}
      publish: ${{ steps.release.outputs.should-publish }}
      prerelease: ${{ steps.release.outputs.prerelease }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Release
        id: release
        uses: cratis/release-action@v1

  build:
    if: needs.release.outputs.publish == 'true'
    runs-on: ubuntu-latest
    permissions:
      contents: read
    needs: [release]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}

      - name: Build
        run: dotnet build --configuration Release

      - name: Publish
        run: dotnet publish Source/Ingress/Ingress.csproj --configuration Release -o Source/Ingress/out

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: Docker/Development/Dockerfile
          push: false
          tags: cratis/ingress:${{ needs.release.outputs.version }}
          build-args: |
            VERSION=${{ needs.release.outputs.version }}
